# TableTheory is distributed through GitHub Releases (not PyPI).
# Update the URL below to pin a different release; see the getting-started guide.
https://github.com/theory-cloud/tabletheory/releases/download/v{{.PyPackageVersion}}/tabletheory_py-{{.PyPackageVersion}}-py3-none-any.whl
boto3
